//  Landing:

.landing{
    background-image: url(../images/header.png);
    max-width: 1770px;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

      &__title{
        color: #FFF;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 54.167% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
      } 
      
      
      &__prgh{
            color: #FFF;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 118.182% */
            letter-spacing: 6.82px; 
    }

    &__form{

    &__searchbar{
    width: 503px;
    min-height: 63px;
    fill: #FFF;
    text-align: center;
    color: #999;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2.8px;
    }
    &__searchbtn{
    width: 153px;
    min-height: 63px;
    background-color: #5474FD;
    border: 4px solid #FFF;
    stroke: #FFF;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
&:hover{
    background-color: rgb(107, 188, 242);
    font-size: larger;
    cursor: pointer;
}
&:focus{
    background-color: rgb(80, 236, 184);
}
    }

    }
&__bottom{
    color: #FFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2.8px;
}
}
.fa-magnifying-glass{
    margin-left: 5px;
}

// sam

.sam{
    background-image: url(../images/man.png);
    max-width: 1770px;
    min-height: 731px;
    flex-shrink: 0;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
    

 &__ttl{
    color: #FFF;
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 72.222% */
    text-align: center;
    
 }   

 &__img{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 &__box{
    width: 668px;
    height: 287px;
    flex-shrink: 0;
    background-color:#333;
    
 }
 &__title{
    margin-left: 50px;
    color: #FEFEFE;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    text-transform: uppercase;
 }
 &__txt{
    margin-left: 50px;
    max-width: 581px;
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
 }

}

.fa-quote-left{
    color: #5474FD;
font-family: FontAwesome;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 72.222% */
}



