.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #5474FD;
  max-width: 1773px;
  min-height: 83px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contact__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.contact__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.contact__li {
  margin-left: 20px;
  margin-right: 20px;
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  text-transform: uppercase;
  cursor: pointer;
}
.contact__li:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
  font-size: large;
}
.contact__logo {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar {
  visibility: collapse;
}

.about {
  max-width: 1770px;
  min-height: 685px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../images/main-one.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about__ttl {
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
  margin-left: 50px;
}
.about__p {
  max-width: 560px;
  margin-left: 50px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.6px;
  margin-top: 50px;
}
.about__btn {
  width: 228px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  background-color: #5474FD;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 66px;
}
.about__btn:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
  font-size: larger;
}
.about__btn:focus {
  background-color: rgb(80, 236, 184);
}
.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}
.about__img__one {
  margin-top: 20px;
  margin-right: 40px;
}
.about__img__two {
  margin-top: 20px;
  margin-left: 40px;
}

.icon {
  cursor: pointer;
  max-width: 1773px;
  width: 100%;
  min-height: 340px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.icon__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1773px;
  width: 100%;
  margin-top: 30px;
}
.icon__txt {
  color: #E8E8E8;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
}

svg {
  max-width: 1773px;
  min-height: 99px;
  width: 100%;
}

.spain {
  max-width: 1770px;
  min-height: 700px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(../images/spain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spain__box {
  background-color: #232323;
  opacity: 0.9;
  width: 543px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4cm;
  padding-left: 2%;
  margin-top: 5cm;
}
.spain__ttl {
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: 1.5px;
  margin-left: 50px;
  margin-top: 40px;
}
.spain__p {
  margin-left: 50px;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
}
.spain__p-one {
  margin-left: 50px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.spain__btn {
  width: 228px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #5474FD;
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 50px;
}
.spain__btn:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
  font-size: larger;
}
.spain__btn:focus {
  background-color: rgb(80, 236, 184);
}

.spaine {
  max-width: 1770px;
  min-height: 700px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(../images/spain-two.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spaine__box {
  background-color: #232323;
  opacity: 0.9;
  max-width: 543px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 19cm;
  padding-left: 2%;
  margin-top: 5cm;
}
.spaine__ttl {
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: 1.5px;
  margin-left: 50px;
  margin-top: 40px;
}
.spaine__p {
  margin-left: 50px;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
}
.spaine__p-one {
  margin-left: 50px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.spaine__btn {
  width: 228px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #5474FD;
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 50px;
}
.spaine__btn:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
  font-size: larger;
}
.spaine__btn:focus {
  background-color: rgb(80, 236, 184);
}

.sam {
  background-image: url(../images/man.png);
  max-width: 1770px;
  min-height: 731px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sam__ttl {
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
  text-align: center;
}
.sam__img {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sam__box {
  width: 668px;
  height: 287px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #333;
}
.sam__title {
  margin-left: 50px;
  color: #FEFEFE;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
}
.sam__txt {
  margin-left: 50px;
  max-width: 581px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.fa-quote-left {
  color: #5474FD;
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
}

@media only screen and (max-width: 320px) {
  .contact__logo {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 8cm;
  }
  .contact__nav {
    visibility: collapse;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__ttl {
    font-size: 13px;
    text-align: center;
    margin-right: 1cm;
  }
  .about__p {
    font-size: 13px;
    text-align: center;
    margin-right: 1cm;
  }
  .about__btn {
    width: 200px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2cm;
    font-size: 15px;
  }
  .about__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__img__one {
    height: 90px;
    width: 100px;
    margin-left: 50px;
  }
  .about__img__two {
    height: 90px;
    width: 100px;
  }
  .icon {
    font-size: 15px;
  }
  .icon__icon {
    font-size: 15px;
    margin-bottom: 2cm;
  }
  .icon__txt {
    font-size: 13px;
  }
  .spain__btn {
    margin-right: 5cm;
    width: 120px;
    font-size: 15px;
  }
  .spain__box {
    max-width: 230px;
    min-height: 200px;
    margin-left: 1cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spain__ttl {
    font-size: 15px;
    margin-top: 3cm;
  }
  .spain__p {
    font-size: 14px;
  }
  .spain__p-one {
    font-size: 14px;
    margin-left: 50px;
  }
  .spaine__btn {
    margin-right: 5cm;
    width: 120px;
    font-size: 15px;
  }
  .spaine__box {
    max-width: 230px;
    min-height: 200px;
    margin-left: 1cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spaine__ttl {
    font-size: 15px;
    margin-top: 3cm;
  }
  .spaine__p {
    font-size: 14px;
  }
  .spaine__p-one {
    font-size: 14px;
    margin-left: 50px;
  }
  .sam {
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sam__ttl {
    font-size: 15px;
  }
  .sam__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sam__imag {
    margin-left: -50px;
    width: 200px;
    height: 200px;
  }
  .sam__box {
    margin-left: -50px;
    width: 300px;
    height: 400px;
  }
  .sam__title {
    font-size: 15px;
  }
  .sam__txt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .contact__li {
    font-size: 11px;
  }
  .contact__logo {
    font-size: 17px;
  }
  .spain__box {
    margin-left: 3cm;
  }
  .spaine__box {
    margin-left: 3cm;
  }
  .sam__imag {
    width: 150px;
    height: 230px;
    margin-left: -20px;
  }
  .sam__box {
    width: 550px;
    height: 230px;
  }
  .sam__txt {
    font-size: 15px;
  }
  .sam__title {
    font-size: 16px;
  }
}
.footer {
  max-width: 1773px;
  width: 100%;
  height: 271px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: url(../images/footer.png);
}
.footer__ttl {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: 3.36px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 1cm;
}
.footer__p {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 1cm;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.6px;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  list-style: none;
}
.footer__one:hover {
  font-size: large;
  cursor: pointer;
  background-color: #5474FD;
}

@media only screen and (max-width: 320px) {
  .footer__ttl {
    font-size: 20px;
  }
  .footer__p {
    font-size: 15px;
  }
}
.landing {
  background-image: url(../images/header.png);
  max-width: 1770px;
  min-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
.landing__title {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 54.167% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.landing__prgh {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
  letter-spacing: 6.82px;
}
.landing__form__searchbar {
  width: 503px;
  min-height: 63px;
  fill: #FFF;
  text-align: center;
  color: #999;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2.8px;
}
.landing__form__searchbtn {
  width: 153px;
  min-height: 63px;
  background-color: #5474FD;
  border: 4px solid #FFF;
  stroke: #FFF;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.landing__form__searchbtn:hover {
  background-color: rgb(107, 188, 242);
  font-size: larger;
  cursor: pointer;
}
.landing__form__searchbtn:focus {
  background-color: rgb(80, 236, 184);
}
.landing__bottom {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2.8px;
}

.fa-magnifying-glass {
  margin-left: 5px;
}

@media only screen and (max-width: 320px) {
  .landing {
    background-image: url(../images/header.png);
    width: 100%;
    max-width: 320px;
    min-height: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .landing__title {
    font-size: 25px;
  }
  .landing__prgh {
    font-size: 15px;
  }
  .landing__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing__form__searchbar {
    width: 300px;
    min-height: 33px;
  }
  .landing__form__searchbtn {
    font-size: 10px;
    width: 93px;
    min-height: 23px;
  }
  .landing__form__searchbtn pseudo-classes, :valid .landing__form__searchbtn:focus {
    color: #5474FD;
  }
  .landing__bottom {
    font-size: 15px;
  }
}
body {
  max-width: 1800px;
  width: 100%;
  height: 4271px;
}