.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #5474FD;
  max-width: 1773px;
  min-height: 83px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contact__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.contact__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.contact__li {
  margin-left: 20px;
  margin-right: 20px;
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  text-transform: uppercase;
  cursor: pointer;
}
.contact__logo {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-left: 50px;
}

.about {
  max-width: 1770px;
  min-height: 685px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../images/main-one.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about__ttl {
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
  margin-left: 50px;
}
.about__p {
  max-width: 560px;
  margin-left: 50px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.6px;
  margin-top: 50px;
}
.about__btn {
  width: 228px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #FFF;
  background-color: #5474FD;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 66px;
}
.about__btn:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
}
.about__btn:focus {
  background-color: rgb(80, 236, 184);
}
.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}
.about__img__one {
  margin-top: 20px;
  margin-right: 40px;
}
.about__img__two {
  margin-top: 20px;
  margin-left: 40px;
}

.icon {
  cursor: pointer;
  max-width: 1773px;
  width: 100%;
  min-height: 340px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.icon__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1773px;
  width: 100%;
  margin-top: 30px;
}
.icon__txt {
  color: #E8E8E8;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
}

svg {
  max-width: 1773px;
  min-height: 99px;
  width: 100%;
}

.spain {
  max-width: 1770px;
  min-height: 700px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url(../images/spain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spain__box {
  background-color: #232323;
  opacity: 0.9;
  width: 543px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4cm;
  padding-left: 2%;
  margin-top: 5cm;
}
.spain__ttl {
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: 1.5px;
  margin-left: 50px;
  margin-top: 40px;
}
.spain__p {
  margin-left: 50px;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
}
.spain__p-one {
  margin-left: 50px;
  color: #E8E8E8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.spain__btn {
  width: 228px;
  height: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #5474FD;
  color: #FFF;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 50px;
}
.spain__btn:hover {
  background-color: rgb(107, 188, 242);
  cursor: pointer;
}

.landing {
  background-image: url(../images/header.png);
  max-width: 1770px;
  min-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}
.landing__title {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 54.167% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.landing__prgh {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
  letter-spacing: 6.82px;
}
.landing__form__searchbar {
  width: 503px;
  min-height: 63px;
  fill: #FFF;
  text-align: center;
  color: #999;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2.8px;
}
.landing__form__searchbtn {
  width: 153px;
  min-height: 63px;
  background-color: #5474FD;
  border: 4px solid #FFF;
  stroke: #FFF;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.landing__form__searchbtn:hover {
  background-color: rgb(107, 188, 242);
}
.landing__form__searchbtn:focus {
  background-color: rgb(80, 236, 184);
}
.landing__bottom {
  color: #FFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2.8px;
}

.fa-magnifying-glass {
  margin-left: 5px;
}

body {
  max-width: 1800px;
  width: 100%;
  height: 4271px;
}